<!DOCTYPE html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119193338-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-119193338-1');
        </script>
        <meta charset="UTF-8">
        <title>PureCSS Gaze</title>
        <link href="style.css" rel="stylesheet" type="text/css">
        <meta property="og:description" content="Pure CSS Oil Painting - by Diana Smith aka cyanHarlow"/>
        <meta name="description" content="Pure CSS Oil Painting - by Diana Smith aka cyanHarlow"/>
        <meta property="og:title" content="Pure CSS Oil Painting - by Diana Smith aka cyanHarlow">
        <meta property="og:image" content="https://raw.githubusercontent.com/cyanharlow/purecss-gaze/master/preview.png">
        <meta property='twitter:title' content="Pure CSS Oil Painting - by Diana Smith aka cyanHarlow"/>
        <meta property="twitter:image" content="https://raw.githubusercontent.com/cyanharlow/purecss-gaze/master/preview.png">
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="viewport" content="width=900"/>
        <meta name="author" content="Diana Smith">
        <meta name="keywords" content="cyanharlow, diana, css, art"/>

    </head>
    <body>
        <div id="linksection" class="linksection">
            By Diana Smith
            <span class="separator">|</span>
            <a href="https://github.com/cyanharlow" target="_blank">GitHub.com/cyanHarlow</a>
            <span class="separator">|</span>
            <a href="http://diana-adrianne.com" target="_blank">Website</a>
            <span class="separator">|</span>
            Optimized for viewing in Chrome
        </div>
        <div class="frame">
            <div class="sky">
                <div class="cloud c1"></div>
                <div class="cloud c2"></div>
                <div class="cloud c3"></div>
                <div class="cloud c4"></div>
            </div>
            <div class="shawl s3"></div>
            <div class="shawl s4"></div>
            <div class="hair behind">
                <div class="strand h8"></div>
                <div class="strand h9"></div>
                <div class="strand h10"></div>
                <div class="strand h11"></div>
                <div class="strand h12"></div>
                <div class="strand h13"></div>
                <div class="strand h14"></div>
                <div class="strand h15"></div>
                <div class="strand h16"></div>
                <div class="strand h17"></div>
                <div class="strand h18"></div>
                <div class="strand h19"></div>
                <div class="strand h20"></div>
                <div class="clump c1"></div>
                <div class="clump c2"></div>
                <div class="clump c8"></div>
                <div class="clump c5"></div>
                <div class="clump c6"></div>
                <div class="hank h5">
                    <div class="strand s1"></div>
                    <div class="strand s2"></div>
                    <div class="strand s3"></div>
                    <div class="strand s4"></div>
                    <div class="strand s5"></div>
                    <div class="strand s6"></div>
                    <div class="strand s6"></div>
                    <div class="strand s7"></div>
                    <div class="strand s8"></div>
                    <div class="strand s9"></div>
                    <div class="strand s10"></div>
                    <div class="strand s11"></div>
                    <div class="strand s12"></div>
                    <div class="strand s13"></div>
                    <div class="strand s14"></div>
                    <div class="strand s15"></div>
                </div>
                <div class="clump c7"></div>
                <div class="clump c9"></div>
                <div class="hank h6">
                    <div class="strand s1"></div>
                    <div class="strand s2"></div>
                    <div class="strand s3"></div>
                    <div class="strand s4"></div>
                    <div class="strand s5"></div>
                    <div class="strand s6"></div>
                    <div class="strand s6"></div>
                    <div class="strand s7"></div>
                    <div class="strand s8"></div>
                    <div class="strand s9"></div>
                    <div class="strand s10"></div>
                    <div class="strand s11"></div>
                    <div class="strand s12"></div>
                    <div class="strand s13"></div>
                    <div class="strand s14"></div>
                    <div class="strand s15"></div>
                </div>
                <div class="hank h12">
                    <div class="strand s1"></div>
                    <div class="strand s2"></div>
                    <div class="strand s3"></div>
                    <div class="strand s4"></div>
                    <div class="strand s5"></div>
                    <div class="strand s6"></div>
                    <div class="strand s6"></div>
                    <div class="strand s7"></div>
                    <div class="strand s8"></div>
                    <div class="strand s9"></div>
                    <div class="strand s10"></div>
                    <div class="strand s11"></div>
                    <div class="strand s12"></div>
                    <div class="strand s13"></div>
                    <div class="strand s14"></div>
                    <div class="strand s15"></div>
                </div>
                <div class="hank h13">
                    <div class="strand s1"></div>
                    <div class="strand s2"></div>
                    <div class="strand s3"></div>
                    <div class="strand s4"></div>
                    <div class="strand s5"></div>
                    <div class="strand s6"></div>
                    <div class="strand s6"></div>
                    <div class="strand s7"></div>
                    <div class="strand s8"></div>
                    <div class="strand s9"></div>
                    <div class="strand s10"></div>
                    <div class="strand s11"></div>
                    <div class="strand s12"></div>
                    <div class="strand s13"></div>
                    <div class="strand s14"></div>
                    <div class="strand s15"></div>
                </div>
                <div class="hank h14">
                    <div class="strand s1"></div>
                    <div class="strand s2"></div>
                    <div class="strand s3"></div>
                    <div class="strand s4"></div>
                    <div class="strand s5"></div>
                    <div class="strand s6"></div>
                    <div class="strand s6"></div>
                    <div class="strand s7"></div>
                    <div class="strand s8"></div>
                    <div class="strand s9"></div>
                    <div class="strand s10"></div>
                    <div class="strand s11"></div>
                    <div class="strand s12"></div>
                    <div class="strand s13"></div>
                    <div class="strand s14"></div>
                    <div class="strand s15"></div>
                </div>
                <div class="hank h15">
                    <div class="strand s1"></div>
                    <div class="strand s2"></div>
                    <div class="strand s3"></div>
                    <div class="strand s4"></div>
                    <div class="strand s5"></div>
                    <div class="strand s6"></div>
                    <div class="strand s6"></div>
                    <div class="strand s7"></div>
                    <div class="strand s8"></div>
                    <div class="strand s9"></div>
                    <div class="strand s10"></div>
                    <div class="strand s11"></div>
                    <div class="strand s12"></div>
                    <div class="strand s13"></div>
                    <div class="strand s14"></div>
                    <div class="strand s15"></div>
                </div>
                <div class="hank h9">
                    <div class="strand s1"></div>
                    <div class="strand s2"></div>
                    <div class="strand s3"></div>
                    <div class="strand s4"></div>
                    <div class="strand s5"></div>
                    <div class="strand s6"></div>
                    <div class="strand s6"></div>
                    <div class="strand s7"></div>
                    <div class="strand s8"></div>
                    <div class="strand s9"></div>
                    <div class="strand s10"></div>
                    <div class="strand s11"></div>
                    <div class="strand s12"></div>
                    <div class="strand s13"></div>
                    <div class="strand s14"></div>
                    <div class="strand s15"></div>
                </div>
                <div class="hank h11">
                    <div class="strand s1"></div>
                    <div class="strand s2"></div>
                    <div class="strand s3"></div>
                    <div class="strand s4"></div>
                    <div class="strand s5"></div>
                    <div class="strand s6"></div>
                    <div class="strand s6"></div>
                    <div class="strand s7"></div>
                    <div class="strand s8"></div>
                    <div class="strand s9"></div>
                    <div class="strand s10"></div>
                    <div class="strand s11"></div>
                    <div class="strand s12"></div>
                    <div class="strand s13"></div>
                    <div class="strand s14"></div>
                    <div class="strand s15"></div>
                </div>
                <div class="clump c10"></div>
                <div class="hank h10">
                    <div class="strand s1"></div>
                    <div class="strand s2"></div>
                    <div class="strand s3"></div>
                    <div class="strand s4"></div>
                    <div class="strand s5"></div>
                    <div class="strand s6"></div>
                    <div class="strand s6"></div>
                    <div class="strand s7"></div>
                    <div class="strand s8"></div>
                    <div class="strand s9"></div>
                    <div class="strand s10"></div>
                    <div class="strand s11"></div>
                    <div class="strand s12"></div>
                    <div class="strand s13"></div>
                    <div class="strand s14"></div>
                    <div class="strand s15"></div>
                </div>
            </div>
            <div class="sleeve right"></div>
            <div class="collar left"></div>
            <div class="sleeve left"></div>
            <div class="collar right"></div>
            <div class="neck-curve"></div>
            <div class="neckline">
                <div class="edge"></div>
                <div class="shoulders"></div>
            </div>
            <div class="neck"></div>
            <div class="trap1"></div>
            <div class="trap2"></div>
            <div class="head">
                <div class="face">
                    <div class="hairline-shadow"></div>
                    <div class="forehead-shadow"></div>
                    <div class="forehead"></div>
                    <div class="cheekhollow"></div>
                    <div class="cheek-highlight"></div>
                    <div class="nose-outer-highlights"></div>
                    <div class="nasolabial-sulcus left"></div>
                    <div class="nasolabial-sulcus right"></div>
                    <div class="uppercrease right"></div>
                    <div class="lashes right"></div>
                    <div class="lashes right2"></div>
                    <div class="upperlid right"></div>
                    <div class="eyeball right">
                        <div class="iris right"></div>
                    </div>
                    <div class="eyeunder right"></div>
                    <div class="nose-depth"></div>
                    <div class="nostrils-back">
                        <div class="naris"></div>
                    </div>
                    <div class="nostrils-front">
                        <div class="naris"></div>
                    </div>
                    <div class="nose-bridge"></div>
                    <div class="nasion"></div>
                    <div class="nose-side"></div>
                    <div class="uppercrease left"></div>
                    <div class="lashes left"></div>
                    <div class="lashes left2"></div>
                    <div class="upperlid left"></div>
                    <div class="eyeball left">
                        <div class="iris left"></div>
                    </div>
                    <div class="eyeunder left"></div>
                    <div class="outer-canthus"></div>
                    <div class="inner-canthus"></div>
                    <div class="chin-shadow"></div>
                    <div class="chin-indent"></div>
                    <div class="philtrum"></div>
                    <div class="orbicularis-oris"></div>
                    <div class="labiomental-groove"></div>
                    <div class="open-mouth"></div>
                    <div class="bottom-left-lip"></div>
                    <div class="bottom-right-lip"></div>
                    <div class="bottom-mid-lip"></div>
                    <div class="top-left-lip"></div>
                    <div class="top-right-lip"></div>
                    <div class="lip-tubercle"></div>
                    <div class="left-mouth-corner"></div>
                    <div class="right-mouth-corner"></div>
                    <div class="right-chin-shadow"></div>
                    <div class="right-cheek-shadow"></div>
                    <div class="brow right"></div>
                    <div class="brow-hairs right"></div>
                    <div class="brow left"></div>
                    <div class="brow-hairs left"></div>
                </div>
            </div>
            <div class="ear"></div>
            <div class="neck-transition"></div>
            <div class="hair front">
                <div class="strand h1"></div>
                <div class="strand h2"></div>
                <div class="strand h3"></div>
                <div class="strand h4"></div>
                <div class="strand h5"></div>
                <div class="strand h6"></div>
                <div class="strand h7"></div>
                <div class="clump c3"></div>
                <div class="scalp"></div>
                <div class="hank h4">
                    <div class="strand s1"></div>
                    <div class="strand s2"></div>
                    <div class="strand s3"></div>
                    <div class="strand s4"></div>
                    <div class="strand s5"></div>
                    <div class="strand s6"></div>
                    <div class="strand s6"></div>
                    <div class="strand s7"></div>
                    <div class="strand s8"></div>
                    <div class="strand s9"></div>
                    <div class="strand s10"></div>
                    <div class="strand s11"></div>
                    <div class="strand s12"></div>
                    <div class="strand s13"></div>
                    <div class="strand s14"></div>
                    <div class="strand s15"></div>
                </div>
                <div class="clump c4"></div>
                <div class="hank h3">
                    <div class="strand s1"></div>
                    <div class="strand s2"></div>
                    <div class="strand s3"></div>
                    <div class="strand s4"></div>
                    <div class="strand s5"></div>
                    <div class="strand s6"></div>
                    <div class="strand s6"></div>
                    <div class="strand s7"></div>
                    <div class="strand s8"></div>
                    <div class="strand s9"></div>
                    <div class="strand s10"></div>
                    <div class="strand s11"></div>
                    <div class="strand s12"></div>
                    <div class="strand s13"></div>
                    <div class="strand s14"></div>
                    <div class="strand s15"></div>
                </div>
                <div class="hank h2">
                    <div class="strand s1"></div>
                    <div class="strand s2"></div>
                    <div class="strand s3"></div>
                    <div class="strand s4"></div>
                    <div class="strand s5"></div>
                    <div class="strand s6"></div>
                    <div class="strand s6"></div>
                    <div class="strand s7"></div>
                    <div class="strand s8"></div>
                    <div class="strand s9"></div>
                    <div class="strand s10"></div>
                    <div class="strand s11"></div>
                    <div class="strand s12"></div>
                    <div class="strand s13"></div>
                    <div class="strand s14"></div>
                    <div class="strand s15"></div>
                </div>
                <div class="hank h1">
                    <div class="strand s1"></div>
                    <div class="strand s2"></div>
                    <div class="strand s3"></div>
                    <div class="strand s4"></div>
                    <div class="strand s5"></div>
                    <div class="strand s6"></div>
                    <div class="strand s6"></div>
                    <div class="strand s7"></div>
                    <div class="strand s8"></div>
                    <div class="strand s9"></div>
                    <div class="strand s10"></div>
                    <div class="strand s11"></div>
                    <div class="strand s12"></div>
                    <div class="strand s13"></div>
                    <div class="strand s14"></div>
                    <div class="strand s15"></div>
                </div>
                <div class="hank h8">
                    <div class="strand s1"></div>
                    <div class="strand s2"></div>
                    <div class="strand s3"></div>
                    <div class="strand s4"></div>
                    <div class="strand s5"></div>
                    <div class="strand s6"></div>
                    <div class="strand s6"></div>
                    <div class="strand s7"></div>
                    <div class="strand s8"></div>
                    <div class="strand s9"></div>
                    <div class="strand s10"></div>
                    <div class="strand s11"></div>
                    <div class="strand s12"></div>
                    <div class="strand s13"></div>
                    <div class="strand s14"></div>
                    <div class="strand s15"></div>
                </div>
                <div class="hank h7">
                    <div class="strand s1"></div>
                    <div class="strand s2"></div>
                    <div class="strand s3"></div>
                    <div class="strand s4"></div>
                    <div class="strand s5"></div>
                    <div class="strand s6"></div>
                    <div class="strand s6"></div>
                    <div class="strand s7"></div>
                    <div class="strand s8"></div>
                    <div class="strand s9"></div>
                    <div class="strand s10"></div>
                    <div class="strand s11"></div>
                    <div class="strand s12"></div>
                    <div class="strand s13"></div>
                    <div class="strand s14"></div>
                    <div class="strand s15"></div>
                </div>
                <div class="hank h16">
                    <div class="strand s1"></div>
                    <div class="strand s2"></div>
                    <div class="strand s3"></div>
                    <div class="strand s4"></div>
                    <div class="strand s5"></div>
                    <div class="strand s6"></div>
                    <div class="strand s6"></div>
                    <div class="strand s7"></div>
                    <div class="strand s8"></div>
                    <div class="strand s9"></div>
                    <div class="strand s10"></div>
                    <div class="strand s11"></div>
                    <div class="strand s12"></div>
                    <div class="strand s13"></div>
                    <div class="strand s14"></div>
                    <div class="strand s15"></div>
                </div>
            </div>
            <div class="shawl s1">
                <div class="wrinkle w2"></div>
                <div class="wrinkle w3"></div>
                <div class="wrinkle w4"></div>
                <div class="wrinkle w5">
</div>
            </div>
            <div class="shawl s2"></div>
            <div class="shawl s5">
                                            <div class="wrinkle w1"></div>
</div>
            <div class="shawl s6"></div>
            <div class="hand h2">
                <div class="wrist"></div>
                <div class="thumb">
                    <div class="interphalangeal"></div>
                </div>
                <div class="palm"></div>
                <div class="phalange pinky">
                    <div class="phalanx proximal"></div>
                    <div class="phalanx distal"></div>
                    <div class="phalanx middle"></div>
                    <div class="interphalangeal distal"></div>
                    <div class="interphalangeal proximal"></div>
                    <div class="metacarpophalangeal"></div>
                    <div class="web"></div>
                </div>
                <div class="phalange ring">
                    <div class="phalanx proximal"></div>
                    <div class="phalanx distal"></div>
                    <div class="phalanx middle"></div>
                    <div class="interphalangeal distal"></div>
                    <div class="interphalangeal proximal"></div>
                    <div class="metacarpophalangeal"></div>
                    <div class="web"></div>
                </div>
                <div class="phalange middle">
                    <div class="phalanx proximal"></div>
                    <div class="phalanx middle"></div>
                    <div class="phalanx distal"></div>
                    <div class="interphalangeal distal"></div>
                    <div class="interphalangeal proximal"></div>
                    <div class="metacarpophalangeal"></div>
                    <div class="web"></div>
                </div>
                <div class="phalange index">
                    <div class="phalanx proximal"></div>
                    <div class="phalanx middle"></div>
                    <div class="phalanx distal"></div>
                    <div class="interphalangeal distal"></div>
                    <div class="interphalangeal proximal"></div>
                    <div class="metacarpophalangeal"></div>
                    <div class="web"></div>
                </div>
            </div>
            <div class="hand h1">
                <div class="wrist"></div>
                <div class="thumb">
                    <div class="interphalangeal"></div>
                </div>
                <div class="palm"></div>
                <div class="phalange pinky">
                    <div class="phalanx proximal"></div>
                    <div class="phalanx distal"></div>
                    <div class="phalanx middle"></div>
                    <div class="interphalangeal distal"></div>
                    <div class="interphalangeal proximal"></div>
                    <div class="metacarpophalangeal"></div>
                    <div class="web"></div>
                </div>
                <div class="phalange ring">
                    <div class="phalanx proximal"></div>
                    <div class="phalanx distal"></div>
                    <div class="phalanx middle"></div>
                    <div class="interphalangeal distal"></div>
                    <div class="interphalangeal proximal"></div>
                    <div class="metacarpophalangeal"></div>
                    <div class="web"></div>
                </div>
                <div class="phalange middle">
                    <div class="phalanx proximal"></div>
                    <div class="phalanx middle"></div>
                    <div class="phalanx distal"></div>
                    <div class="interphalangeal distal"></div>
                    <div class="interphalangeal proximal"></div>
                    <div class="metacarpophalangeal"></div>
                    <div class="web"></div>
                </div>
                <div class="phalange index">
                    <div class="phalanx proximal"></div>
                    <div class="phalanx middle"></div>
                    <div class="phalanx distal"></div>
                    <div class="interphalangeal distal"></div>
                    <div class="interphalangeal proximal"></div>
                    <div class="metacarpophalangeal"></div>
                    <div class="web"></div>
                </div>
            </div>
            <div class="canvas-texture"></div>
            <div class="aged-varnish"></div>
        </div>
    </body>
</html>
