html, body {
  display: block;
}

div {
    display: block;
}

#blue {
    background-color: blue;
    padding: 20px;
}

#red {
    display: inline;
    background-color: red;
    height: 340px;
    width: 30px;
}

#yellow {
    display: inline;
    background-color: yellow;
    height: 20px;
    width: 120px;
}