html, body {
  display: block;
}

div {
    display: inline;
}

#blue {
    background-color: blue;
    height: 340px;
    width: 30px;
}
#red {
    background-color: red;
    height: 340px;
    width: 30px;
}

#yellow {
    background-color: yellow;
    height: 20px;
    width: 30px;
}