body {
    background-color: #192a56;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 20px;
}

#yellow-text {
    color: #fbc531;
}

